target/
!.mvn/wrapper/maven-wrapper.jar
generator.xml
### log ###
logs
*.log
damLogs

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

## ui ##
node_modules/
dist/
build/
.parcel-cache/
.vscode

